<app-widget-dot-container title="Overall Status">
    <div class="status" front>
        <div class="top-container">
            <!--                 <div class="left-container">
                    <div class="line">
                        <div class="icon-cover" style="background-color: var(--color1)">
                            <img class="icon white" src="" alt="" />
                        </div>
                        <div class="text">
                            Aritmie<br/>300
                        </div>
                    </div>
                    <div class="line">
                        <div class="icon-cover" style="background-color: var(--color2)">
                            <img class="icon white" src="" alt="" />
                        </div>
                        <div class="text">
                            Aritmie<br/>300
                        </div>
                    </div>
                    <div class="line">
                        <div class="icon-cover" style="background-color: var(--color3)">
                            <img class="icon white" src="" alt="" />
                        </div>
                        <div class="text">
                            Aritmie<br/>300
                        </div>
                    </div>
                </div> -->
            <div class="right-container">
                <div class="card">
                    <p-chart type="line" [data]="lineStylesData" [options]="basicOptions"></p-chart>
                </div>
            </div>
        </div>
        <div class="bottom-container">
            <div class="square one" style="background-color: var(--color1);">
                <div class="icon-cover">
                    <img class="icon" src="assets/icons/charity.png" alt="" />
                </div>
                <div class="text">
                    24<br />Upcoming
                </div>
            </div>
            <div class="square two" style="background-color: var(--color2);">
                <div class="icon-cover">
                    <img class="icon" src="assets/icons/love.png" alt="" />
                </div>
                <div class="text">
                    24<br />In Progress
                </div>
            </div>
            <div class="square three" style="background-color: var(--color3);">
                <div class="icon-cover">
                    <img class="icon" src="assets/icons/check.png" alt="" />
                </div>
                <div class="text">
                    24<br />Reviewed
                </div>
            </div>
        </div>
    </div>
    <div class="description" back>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Rem eaque illum sunt dolore repudiandae corporis quidem quia reprehenderit,
            nesciunt magni error perspiciatis libero cum unde, obcaecati, itaque ea. Omnis, hic?</p>
    </div>
</app-widget-dot-container>