<app-widget-dot-container title="Today Program">
    <div class="piechart" front>
        <div class="wrapper">
            <p-chart type="pie" [data]="chartData" [options]="chartOptions" [plugins]="pieChartPlugins"></p-chart>
        </div>
            <div class="legend">
                <div class="legend-label">
                    <div class="legend-box lf"></div>
                    <div class="legend-text">Free</div>
                </div>
                <div class="legend-label">
                    <div class="legend-box lb"></div>
                    <div class="legend-text">Busy</div>
                </div>
            </div>
    </div>
    <div class="description" back>
        <p>This chart shows the distribution of your time today, 
            divided into free time and busy time. The busy time is calculated based on 
            the duration of your scheduled appointments for today, while the free time represents the portion of your day when you are 
             available. The percentages of each are based on the total program time and 
             the scheduled time, giving you a clear overview of how your day is structured.</p>
    </div>
</app-widget-dot-container>
