.container{
    width: 250px;
    position: fixed;
    height: 100vh;
    background-color: white;
    bottom:0;
}
.logo {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.logo img {
    width: 25px;
}

.logo .title {
    font-size: 16px;
    font-weight: bold;
}
.link{
    display: flex;
    align-items: center;
    gap: 15px;
    width: 135px;
}
.link-title{
    color: grey;
}
.active .link-title{
    color: var(--color1);
}
.link-cover {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-icon {
    width: 20px;
    filter: invert(52%) sepia(0%) saturate(0%) hue-rotate(143deg) brightness(96%) contrast(86%);
}

.active .link-icon {
    filter: invert(48%) sepia(74%) saturate(3931%) hue-rotate(221deg) brightness(102%) contrast(95%);
}

.copyright {
    position: absolute;
    left: 45px;
    bottom: 20px;
    right: 45px
}

.copyright .text {
    color: grey;
    font-size: 13px;
}

.copyright .title {
    font-weight: bold;
}


/*MEDIA QUERIES*/
@media only screen and (max-width: 1200px) {
    .container{
        width: 100px;
    }
    .link{
        width: 25px;
    }
    .title{
        display: none;
    }
    .link-title{
        display: none;
    }
    .copyright{
       display: none;
    }
}
@media only screen and (max-width: 1024px) {
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 480px) {
    .container{
        width:100%;
        height: 80px;
        display: flex;
        gap:50px;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        box-shadow: rgba(17, 17, 26, 0.1) 0px -1px 6px;
        }
    .logo{
        display: none;
        }
    .copyright{
        display: none;
    }
}
@media only screen and (max-width: 300px) {
}