<div class="container">
    <div class="logo">
        <div class="link">
            <img src="/assets/icons/logo-new.png" alt="" style="width:30px ;">
            <p class="title">Health<span style="font-size: 16px;color:var(--color1)">Data</span></p>
        </div>
    </div>
    <div class="link-cover" *ngFor="let route of routes">
        <a class="link" [routerLink]="route.route" routerLinkActive="active">
            <img class="link-icon" [src]="route.icon" alt="">
            <p class="link-title">{{route.name}}</p>
        </a>
    </div>
    <div class="copyright">
        <div class="title"> © HealthData 2023</div>
        <div class="text">Empowering hospitals with advanced mana -gement technology.</div>
    </div>
</div>