/* .mat-tree{
    background-color:transparent;
} */
.tree{
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.content{
    height: calc(100% - 41px - 15px);
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.cover{
    overflow: auto;
}

.subtitle{
    color: grey;
    font-size: 13px;
}
.buttons{
    display: flex;
    gap: 5px;
}

::ng-deep .tree-procedures .mat-mdc-checkbox-checked .mdc-checkbox__background{
    background-color: var(--color1)!important;
    border-color: var(--color1)!important;
}

.tree-procedures .mat-mdc-icon-button[disabled]{
    visibility: hidden;
}

::ng-deep .tree-procedures .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background, .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled~.mdc-checkbox__background{
    background-color: var(--color1)!important;
    border-color: var(--color1)!important;
}