<div class="tree">
    <div class="head">
        <p class="title"><b>Available procedures</b></p>
        <p class="subtitle">Select available procedures for your hospital</p>
    </div>
    <div class="cover">

        <mat-tree class="tree-procedures" [dataSource]="dataSource" [treeControl]="treeControl">
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
                <button mat-icon-button disabled></button>
                <mat-checkbox class="checklist-leaf-node" [checked]="checklistSelection.isSelected(node)"
                    (change)="todoLeafItemSelectionToggle(node);changesHasBeenMade()">{{node.item}}</mat-checkbox>
            </mat-tree-node>

            <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
                <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.item">
                    <mat-icon class="mat-icon-rtl-mirror">
                        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                </button>
                <mat-checkbox [checked]="descendantsAllSelected(node)"
                    [indeterminate]="descendantsPartiallySelected(node)"
                    (change)="todoItemSelectionToggle(node);changesHasBeenMade()">{{node.item}}</mat-checkbox>
            </mat-tree-node>
        </mat-tree>

    </div>
    <div class="buttons">
        <button class="basic-button primary" style="height: 40px; width: 80px;"
            [disabled]="!changesMade"
            (click)="saveProcedureConfiguration()">Save</button>
        <button class="basic-button primary" [disabled]="!changesMade" (click)="undoChanges()" style="height: 40px;width: 80px;">Undo</button>
    </div>
</div>