.container {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.box {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 30px;
    border-radius: 5px;
    background-color: white;
    justify-content: space-between;
    flex-grow: 1;
}

.icon-cover {
    position: relative;
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-width: 40px;
    border-radius: 10px;
}

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -50%);
    width: 18px;
    /* filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(337deg) brightness(114%) contrast(103%); */
}
.purple{
filter: invert(51%) sepia(78%) saturate(3469%) hue-rotate(218deg) brightness(98%) contrast(100%);
}
.blue{
    filter: invert(75%) sepia(57%) saturate(2943%) hue-rotate(172deg) brightness(101%) contrast(97%); 
}
.dark-blue{
    filter: invert(11%) sepia(8%) saturate(4792%) hue-rotate(201deg) brightness(101%) contrast(87%);
}

.text {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.title {
    font-size: large;
    font-weight: bold;
}

.subtitle {
    color: grey;
}

.t-1 {
    color: var(--color1);
}

.t-2 {
    color: var(--color3);
}

.t-3 {
    color: var(--color2);
}