.container {
    width: 100%;
    box-sizing: border-box;
    /* height: 80 px sau ceva */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.right {
    display: flex;
    align-items: center;
    gap: 15px;
    color: black;
    cursor: pointer;
}

#profile-img {
    width: 35px;
    height: 35px;
    border-radius: 100%;
}

#searchbar {
    width: 400px;
    height: 40px;
    border-radius: 5px;
    border: none;
}

@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 1024px) {
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 480px) {
    .right {
        display: none;
    }
    #searchbar{
        width: 100%;
    }
}
@media only screen and (max-width: 320px) {
}