<div class="container">
    <app-bar></app-bar>
    <div class="widgets">
        <div class="left">
            <app-overallstatus-widget [patientsStatistic]="patientsVisitsStatistic" [appointmentsStatus]="appointmentsCountsByStatus"></app-overallstatus-widget>
            <app-procedure-trends-widget [trends]="procedureTrends"></app-procedure-trends-widget>
        </div>
        <div class="right">
            <app-program-widget [program]="todayProgramStatistic"></app-program-widget>
            <app-appointments-widget></app-appointments-widget>
        </div>
    </div>
</div>