.container {
    width: 100%;
    height: 100vh;
    display: flex;
}
.left-container{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.right-container{
    width: 60%;
    background-color:var(--color1);
    display: flex;
    justify-content: center;
    align-items: center;
}
#auth-img{
    width: 450px;
}
.form{
    width:350px;
}

@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 1024px) {
    .right-container{
        display: none;
    }
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 480px) {
    .form{
        width: 300px;
    }
}
@media only screen and (max-width: 300px) {
}