<div class="container">
    <p-table #dt [scrollable]="true" [scrollHeight]="'calc(100vh - ' + difValue + 'px)'" [value]="dataFiltered"
        [globalFilterFields]="['name']" styleClass="p-datatable-gridlines" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="caption">
            <div class="caption-container">
                <h5 class="m-0">Manage appointments</h5>
                <div class="filters">
                    <div class="form-field">
                        <span style="width: 100%;" class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input style="width: 100%;" pInputText type="text" id="appointment-table-input"
                                (input)="applyFilterGlobal($event, 'contains')" placeholder="Search..." />

                        </span>
                    </div>
                    <div class="form-field">
                        <p-dropdown [style]="{'width':'100%'}" [appendTo]="'body'" [options]="statusOptions"
                            [(ngModel)]="filter.status" (ngModelChange)="filterAppointments()"></p-dropdown>
                    </div>
                    <div class="form-field">
                        <p-calendar [style]="{'width':'100%'}" [appendTo]="'body'" [showButtonBar]="true"
                            [maxDate]="maxDate" [minDate]="minDate" selectionMode="range" [readonlyInput]="true"
                            placeholder="Select period" [(ngModel)]="filter.period"
                            (ngModelChange)="filterAppointments()"></p-calendar>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th>Patient</th>
                <th>Procedure</th>
                <th>Date</th>
                <th>Time</th>
                <th>Phone</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-appointment>
            <tr>
                <td>{{ appointment.id }}</td>
                <td style="padding-top: 10px; padding-bottom:10px; height: 61.8px;">
                    <div class="patient">
                        <img class="user-icon" src="assets/icons/user.png" alt="">
                        <div class="patient-details">
                            <p>{{ appointment.name}}</p>
                            <p class="subtitle">{{ appointment.age}} yrs</p>
                        </div>
                    </div>
                </td>
                <td>{{ appointment.procedureName }}</td>
                <td>{{ appointment.date }}</td>
                <td>{{ appointment.time }}</td>
                <td>{{ appointment.phone }}</td>
                <td>
                    <app-tag [text]="appointment.status" [type]="appointment.status"></app-tag>
                </td>
                <td style="padding-top: 10px; padding-bottom:10px; height: 61.8px;">
                    <button class="round-button less-purple" style="height:41px; width: 41px;"
                        (click)="openFormDialog(appointment)"
                        *ngIf="appointment.status === appointmentStatus.IN_PROGRESS">
                        <img id="editIcon" src="assets/icons/edit4.png" alt="">
                    </button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>