.container{
    border-radius: 5px;
    background-color: white;
}
.head{
    margin-bottom: 15px;
}
.subtitle{
    color: grey;
    font-size: 13px;
}
.caption-container{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.filters{
    display: flex;
    gap: 5px;
    align-items: center;
}
#editIcon{
    width: 13px;
    filter:invert(48%) sepia(74%) saturate(3931%) hue-rotate(221deg) brightness(102%) contrast(95%);
    margin-top: 4px;
}

.user-icon{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    cursor: pointer;
}
.patient{
    display: flex;
    align-items: center;
    gap: 5px;
}

.subtitle{
    color: grey;
    font-size: 13px;
}

.form-field{
    width: 180px;
}

::ng-deep .p-datatable.p-datatable-gridlines .p-datatable-header{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/*MEDIA QUERIES*/
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 1024px) {
    .caption-container{
        flex-direction: column;
    }
    .filters{
        width: 100%;
    }
    .form-field{
        width: 100%;
    }
}
@media only screen and (max-width: 768px) {
    .filters{
        flex-direction: column;
    }
}
@media only screen and (max-width: 480px) {
}
@media only screen and (max-width: 300px) {
}