.container{
    border-radius: 5px;
    background-color: white;
}
.head{
    margin-bottom: 15px;
}
.subtitle{
    color: grey;
    font-size: 13px;
}
.caption-container{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}
.right-side{
    display: flex;
    gap: 5px;
    align-items: center;
    flex-wrap: wrap;
}
#editIcon{
    width: 13px;
    filter:invert(48%) sepia(74%) saturate(3931%) hue-rotate(221deg) brightness(102%) contrast(95%);
    margin-top: 4px;
}

.user-icon{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    cursor: pointer;
}
.patient{
    display: flex;
    align-items: center;
    gap: 5px;
}

.subtitle{
    color: grey;
    font-size: 13px;
}