.container{
    width: 250px;
    position: fixed;
    height: 100vh;
    background-color: white;
}
.logo {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.logo img {
    width: 25px;
}

.logo .title {
    font-size: 16px;
    font-weight: bold;
}
.link{
    display: flex;
    align-items: center;
    gap: 15px;
    width: 150px;
}
.link-title{
    color: grey;
}
.active .link-title{
    color: #9A6AFE;
}
.link-cover {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-icon {
    width: 20px;
    filter: invert(52%) sepia(0%) saturate(0%) hue-rotate(143deg) brightness(96%) contrast(86%);
}

.active .link-icon {
    filter: invert(49%) sepia(34%) saturate(5304%) hue-rotate(231deg) brightness(101%) contrast(99%);
}

.copyright {
    position: absolute;
    left: 30px;
    bottom: 20px;
    width: 190px;
}

.copyright .text {
    color: grey;
    font-size: 14px;
}

.copyright .title {
    font-weight: bold;
}


/*MEDIA QUERIES*/
@media only screen and (max-width: 1024px) {
    .container{
        width: 100px;
    }
    .link{
        width: 25px;
    }
    .title{
        display: none;
    }
    .link-title{
        display: none;
    }
    .copyright{
       display: none;
    }
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 480px) {
    .container{
        width:100%;
        height: 80px;
        display: flex;
        bottom:0;
        gap:50px;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        }
    .logo{
        display: none;
        }
    .copyright{
        display: none;
    }
}
@media only screen and (max-width: 300px) {
}