.container{
    background-color: white;
    border-radius:5px;
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height:100%;
    box-shadow: rgba(156, 154, 154, 0.09) 0px 3px 12px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}