<div class="container">
    <div class="profile">
        <img id="img-profile" src="assets/images/profile.jpg" alt="" />
        <div class="text">
            <p style="font-size: 14px;">Michael A</p>
            <p class="subtitle">Dentologie</p>
        </div>
    </div>
    <div class="location">
        <p class="subtitle">Location</p>
        <p>Spitalul de Urgenta Bucuresti</p>
    </div>
    <div class="Date">
        <p class="subtitle">Date</p>
        <p>11/12/2023</p>
    </div>
    <div class="hours">
        <p class="subtitle">Available Hours</p>
        <div class="hours-container">
            <div class="hour">12:20</div>
            <div class="hour">12:20</div>
            <div class="hour">12:20</div>
            <div class="hour">12:20</div>
            <div class="hour">12:20</div>
            <div class="hour">12:20</div>
            <div class="hour">12:20</div>
            <div class="hour">12:20</div>
            <div class="hour">12:20</div>
            <div class="hour">12:20</div>
            <div class="hour">12:20</div>
        </div>
    </div>
</div>