<div class="container">
    <div class="profile">
        <img id="img-profile" src="assets/icons/user.png" alt="" />
        <div class="text">
            <p style="font-size: 14px;">{{suggestion?.doctorName}}</p>
            <p class="subtitle">{{suggestion?.doctorSpeciality}}</p>
        </div>
    </div>
    <div class="location">
        <p class="subtitle">Location</p>
        <p>{{suggestion?.hospitalName}}</p>
    </div>
    <div class="Date">
        <p class="subtitle">Date</p>
        <p>{{suggestion?.date}}</p>
    </div>
    <div class="hours">
        <p class="subtitle">Available Hours</p>
        <div class="hours-container">
            <div class="hour" 
            [ngClass]="{'active': false}"
            *ngFor="let hour of suggestion?.hours"
            (click)="selectHour(hour)"
            >{{hour | slice:0:-3}}</div>
        </div>
    </div>
</div>