.container p {
  font-size: 13px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 300px;
  height: 240px;
  background-color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 5px;
  padding: 15px;
}

.profile {
  width: 100%;
  display: flex;
  gap: 15px;
  align-items: center;
}

#img-profile {
  width: 40px;
  border-radius: 100%;
}

.subtitle {
  color: gray;
  font-size: 13px;
}

.hours-container {
  margin-top: 2px;
  display: flex;
  flex-wrap: wrap;
  gap: 2.5px;
  height: 60px;
  overflow: auto;
  align-items: flex-start;
}

.hour {
  padding: 5px;
  color: white;
  background-color: var(--color1);
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
}

.active{
  background-color: var(--color2);
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}