<div class="container">
    <div class="profile">
        <img id="img-profile" src="assets/images/profile.jpg" alt="" />
        <div class="text">
            <p style="font-size: 14px;">{{summary?.doctorName}}</p>
            <p class="subtitle">{{summary?.doctorSpeciality}}</p>
        </div>
    </div>
    <div class="details">
        <div class="columnn">
            <div class="procedure">
                <p class="subtitle">Procedure</p>
                <p>{{summary?.procedureName}}</p>
            </div>
            <div class="price">
                <p class="subtitle">Price</p>
                <p>{{summary?.price}}Euro</p>
            </div>
        </div>
        <div class="columnn">
            <div class="date">
                <p class="subtitle">Date</p>
                <p>{{summary?.date}}</p>
            </div>
            <div class="time">
                <p class="subtitle">Time</p>
                <p>{{summary?.time}}</p>
            </div>
        </div>
        <div class="columnn">
            <div class="location">
                <p class="subtitle">Location</p>
                <p>{{summary?.hospitalName}}</p>
            </div>
            <div class="duration">
                <p class="subtitle">Duration</p>
                <p>{{summary?.duration}} min</p>
            </div>
        </div>
    </div>
</div>