.container{
    display: flex;
    padding: 15px;
    gap: 15px;
    min-height: 100vh;
}
.procedures-tree{
    display: block;
    width: 350px;
    padding: 30px;
    border-radius: 5px;
    background-color: white;
    height: 500px;
}

.doctors-table{ 
    width: calc(100% - 350px - 15px);
    flex-grow: 1;
}

/*MEDIA QUERIES*/
/* initial: 1024 ,768 , 480, 320 */
@media only screen and (max-width: 1200px) {
    .container{
        flex-direction: column;
    }
    .doctors-table{
        width: 100%;
    }
}
@media only screen and (max-width: 1024px) {
}
@media only screen and (max-width: 768px) {
    .procedures-tree{
        width: 100%;
    }
}
@media only screen and (max-width: 480px) {
    ::ng-deep #doctors-table-input{
        width: 100px;
    }
}
@media only screen and (max-width: 300px) {
}