<app-widget-link-container title="Appointments" link="../appointments">
    <div class="container">
        <div class='appointment-line' *ngFor="let appointment of appointments">
            <div class="left">
                <img class="profile-img" alt='' src="assets/icons/user.png">
                <div class="text">
                    <div class="name">Costin Galan</div>
                    <div class="time">2:30 AM - 5:20 PM</div>
                </div>
            </div>
            <div class="details">Show More</div>
        </div>
    </div>
</app-widget-link-container>