<app-widget-link-container [title]="title" link="../appointments">
    <div class="container" *ngIf="appointments.length;else notice">
        <div class='appointment-line' *ngFor="let appointment of appointments">
            <div class="left">
                <img class="profile-img" alt='' src="assets/icons/user.png" (click)="navigate(appointment.otherId)">
                <div class="text">
                    <div class="name">{{appointment.firstName + " " +appointment.lastName}}</div>
                    <div class="time">{{getTimeInterval(appointment.dateTime, appointment.duration)}}</div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #notice><p style="color: grey;text-align: center;">No appointments found</p></ng-template>
</app-widget-link-container>