/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,400;1,100&family=Sora:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
/*     --color1: #6320ee;
    --color2 : #211a1d;
    --color3: #8075ff;
    --color4: #505863; 
    --coolor5: #F5F5F5*/
    --color1 : #6D71F9;
    --color2 : #54C1FB;
    --color3: #272848;
    --color4: #f7f8fc;/* EEF0F8 f7f8fc*/
    --color5 : #FFFFFF;
    --color6: black;

    /* buttons */
    --buttonRedBG : #fff5f4;
    --buttonRed : #ff7070;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Open Sans';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
}
a{
    text-decoration: none;
}

button:disabled,
button[disabled]{
  background-color: #cccccc !important;
  color: #666666 !important;
}

/* CUSTOM APP STYLES */

.basic{
    color: black;
    font-size: 14px;
    border:1px solid #ced4da;
    border-radius: 6px; /* nicer if 5 */
    padding-left: 10px;
    padding-right: 10px;
}
.basic-input{
    height: 41px; /* nicer if 45 */
}

.basic-button{
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.basic-button.primary{
    background-color: var(--color1);
    color: white;
}
.basic-button.red{
    background-color: var(--buttonRed);
    color: white;
}

.round-button{
    border : none;
    border-radius: 100%;
    cursor: pointer;
}
.round-button.red{
    background-color:var(--buttonRedBG);
}
.round-button.purple{
    background-color:var(--color1);
}
/* input.p-inputtext:enabled:focus {
    outline:none;
    box-shadow: none;
    border-color: var(--color1);
} */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
