<div class='prescription-card'>
    <div class="cover">
    <p class="title">{{diagnostic?.diagnostic}}</p>
    <img (click)="openSeeMoreDialog()" id="img-header" src="assets/icons/view2.png" alt="">
    </div>
    <p class="description">{{diagnostic?.description}}</p>
    <div class="end">
        <div class="doctor">
            <p class='grey'>Doctor</p>
             <div class="img-text">
                <img src="assets/icons/user.png" [routerLink]="['/patient/doctors/' + diagnostic?.doctorId]" alt="" class='doctor-img' />
                <p class='name'>{{diagnostic?.doctorLastName}}</p>
             </div>
        </div>
        <div class="last-seen">
            <p class='grey'>Reviewed at</p>
            <p class="data">{{diagnostic?.createdAt}}</p>
        </div>
    </div>
</div>
