<app-widget-dot-container title="Procedure Trends">
    <div class="rate" front>
        <div class="wrapper">
            <p-chart type="bar" [data]="data" [options]="options" [width]="'100%'" [height]="'100%'"></p-chart>
        </div>
    </div>
    <div class="description" back>
        <p>This chart shows the monthly distribution of the top three procedures performed by you 
            across all your patients over the past year. The top three procedures are identified based on the total number
            of times they were performed throughout the year.<br><br>Each procedure is represented by 
            a distinct color in the graph. The chart visualizes how frequently each of these top procedures 
            was performed in each month, helping to identify trends and variations of your activity over time.</p>
    </div>
</app-widget-dot-container>
