<app-widget-dot-container title="Procedure Trends">
    <div class="rate" front>
        <div class="wrapper">
            <p-chart type="bar" [data]="data" [options]="options" [width]="'100%'" [height]="'100%'"></p-chart>
        </div>
    </div>
    <div class="description" back>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Rem eaque illum sunt dolore repudiandae corporis quidem quia reprehenderit,
            nesciunt magni error perspiciatis libero cum unde, obcaecati, itaque ea. Omnis, hic?</p>
    </div>
</app-widget-dot-container>
