.container {
    /* for big screens */
    /*     max-width: 1500px; 
    margin-left: auto;
    margin-right: auto;
    
    padding: 15px;
    display: grid;
    gap:15px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "zero zero zero zero zero" 
      "one one one two two "
      "one one one three three"
      "four four four three three"; */

    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.widgets{
    display: flex;
    gap: 15px;
}

.left {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.right {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 15px;

}


.dot-box {
    background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}