<div class="container">
    <div class="top">
        <div class="pannel" *ngIf="allowEdit">
            <img src="assets/icons/edit5.png" (click)="triggerEditProfile()" class="icon-normal" alt="">
            <img src="assets/icons/log-out-white.png" (click)="triggerLogOut()" class="icon-normal" alt="">
        </div>
        <img src="assets/icons/user.png" alt="" class="profile-img" />
    </div>
    <div class="bottom">
        <div class="text">
            <p class="profile-name">{{summary?.name}}</p>
            <ng-container *ngFor="let row of summary?.rows">
                <p *ngIf="row" class="subtitle">{{row}}</p>
            </ng-container>
        </div>
    </div>
</div>
