
<form class="signup-form" [formGroup]="form" (submit)="signUp()">
    <div class="section-1">
      <p id='title'>Register</p>
      <p class='subtitle'>Welcome! Create a new account</p>
    </div>
    <div class="section-2">
      <input type="text" pInputText formControlName="email" placeholder='Email'/>
      <input type="text" pInputText formControlName="firstName" placeholder='First name'/>
      <input type="text" pInputText formControlName="lastName" placeholder='Last name'/>
      <input type="password" pInputText formControlName="password" placeholder='Password'/>
      <input type="password" pInputText formControlName="rePassword" placeholder='Re-type Password'/>
    </div>
    <div class="section-3">
        <button type="submit" class="form-button login" [disabled]="form.invalid" >Create account</button>
        <p class='final-text'>Already have an account? <b style="cursor: pointer;" (click)="toggleForms()">Log in here!</b></p>
    </div>
  </form>
