<form class="login-form" [formGroup]="form" (submit)="logIn()">
    <div class="section-1">
      <p id='title'>Welcome</p>
      <p class='subtitle'>Welcome back! Please enter your details.</p>
    </div>
    <div class="section-2">
      <input type="text" pInputText formControlName="email" placeholder='Enter your email'  name='email'/>
      <input type="password" pInputText formControlName="password" placeholder='Enter your password'  name='password'/>
    </div>
    <div class="section-3">
        <button type="submit"  class="basic-button primary" style="width: 100%;height: 41px;" [disabled]="form.invalid" >Log In</button>
      <p class='final-text'>Don't have an account? <b class='final-text-important' (click)="toggleForms()">Sign up for free!</b></p>
    </div>
  </form>
