.login-form{
    box-sizing: border-box;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:30px;
}
.login-form .section-1{
    display: flex;
    flex-direction: column;
    gap:5px;
}
.login-form .section-2{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.login-form .section-3{
    display: flex;
    flex-direction: column;
    gap:5px;
}
input{
    width: 100%;
    height: 45px;
}

input:focus{
    outline: none;
}
.input[type=text]{
    padding-left: 30px;
    padding-right: 30px;
}
.form-button{
    border: none;
    width: 100%;
    height: 45px;
    border-radius: 5px;
    background-color: var(--color1);
    color: white;
    cursor: pointer;
}
#title{
    font-size: 32px;
    font-weight: bold;
}
.subtitle{
    font-size:14px;
    color: grey;
}
.final-text{
    font-size:14px;
    text-align: center;
}
.final-text-important{
    color: black;
    cursor: pointer;
}
.fieldname{
    font-weight: bold;
    font-size: 14px;
}