<div class='container'>
    <div class="card-header">
        <p id='card-title'>Appointment</p>
        <img id='img-header' src="assets/icons/calendar.png" alt="" />
    </div>
    <div class="card-content">
        <div class="doctor">
            <img id="img-doc" src="assets/images/profile.jpg" alt="" />
            <div class="text">
                <p id="name">Michael A</p>
                <p id="specialisation">Dentologie</p>
            </div>
        </div>
        <div class="date">
            <div class="subtitle">Date</div>
            <p>11/12/2023</p>
        </div>
        <div class="time">
            <div class="subtitle">Time</div>
            <p>11:30 - 12:45</p>
            <p>30 min</p>
        </div>
        <div class="location">
            <div class="subtitle">Location</div>
            <p>Timisoara Iulius Town</p>
        </div>
        <div class="procedure">
            <div class="subtitle">Procedure</div>
            <p>Boala</p>
        </div>
    </div>
</div>
