<div class="container">
    <h1 class="title">Physical Charateristics</h1>
    <div class="content">
        <div class="line">
            <img class="icon-normal" src="assets/icons/phone.png" alt="">
            <p>Height</p>
        </div>
        <div class="line">
            <img class="icon-normal" src="assets/icons/phone.png" alt="">
            <p>Weight</p>
        </div>
        <div class="line">
            <img class="icon-normal" src="assets/icons/phone.png" alt="">
            <p>Age</p>
        </div>
    </div>
</div>
