.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;

}
.content{
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: auto;
    height: 220px;
    padding: 2px;
}
.filters{
    display: flex;
    gap: 5px;
}
.ico{
    border-radius: 10px;
    width: 22px;
    height: 22px;
    object-fit: cover;
}
.text{
    font-size: 13px;
}
.row{
    cursor: pointer;
    padding: 0px 15px;
    display: flex;
    align-items: center;
    gap: 15px;
    height: 45px;
    background-color: white;
    border-radius: 5px;
    flex-shrink: 0;
    box-shadow: rgba(0, 0, 0, 0.07) 0.5px 0.5px 3.2px 0.7px;
}