<app-widget-simple-container title="Search doctors">
    <div class="container">
        <div class="filters">
            <input type="text" pInputText [(ngModel)]="form.name" placeholder='Search...' style="width: 100%;" />
            <p-dropdown [style]="{'width':'100%'}" appendTo="body" [(ngModel)]="form.specialityId" [options]="specialities" optionLabel="name" optionValue="id" [filter]="true"
                [showClear]="true" placeholder="Speciality"></p-dropdown>
        <button (click)="searchDoctors()" class="basic-button primary" style="width: 150px;height: 41px;" [disabled]="!form.specialityId">Search</button>
        </div>
        <div class="content" *ngIf="!notice">
            <div class="row" *ngFor="let doctor of doctors" [routerLink]="['/patient/doctors/' + doctor.id]">
                <img [src]="doctor.profileImage?doctor.profileImage:'assets/icons/user.png'"  class="ico" alt="">
                <p class="text">{{doctor.firstName + " " + doctor.lastName}}</p>
            </div> 
        </div>
        <p *ngIf="notice" style="text-align: center;">No doctors found</p>

    </div>
</app-widget-simple-container>