.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
}
.prescriptions-list{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.card{
    width: 350px;
}

/*MEDIA QUERIES*/
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 1024px) {
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 480px) {
    .card{
        width: 100%;
    }
}
@media only screen and (max-width: 300px) {
}
