<div class='container'>
    <div class="header">
      <img id='profile' src="assets/icons/user.png" alt="" />
      <p class="name">Costin Galan</p>
      <p class="user-type grey">Patient</p>
    </div>
    <div class="body">
      <div class="box">
        <div class="age">
          <p>18</p>
          <p class='grey'>Age</p>
        </div>
      </div>
      <div class="box">
        <div class="blood">
          <p>B+</p>
          <p class='grey'>Blood</p>
        </div>
      </div>
      <div class="box hieght">
        <div class="height">
          <p>183</p>
          <p class='grey'>Height</p>
        </div>
      </div>
      <div class="box">
        <div class="weight">
          <p>72</p>
          <p class='grey'>Weight</p>
        </div>
      </div>
    </div>
  </div>
