<div class="loading" *ngIf="loadingSpinner">
    <p-progressSpinner></p-progressSpinner>
    <p>Loading...</p>
</div>
<div class="container" *ngIf="!loadingSpinner">
    <mat-progress-bar *ngIf="loading" style="position: absolute;" class="progress-bar"
        mode="indeterminate"></mat-progress-bar>
    <mat-stepper linear #stepper class="appointment-stepper" style="height:100%"> <!-- [orientation]="'vertical'" -->
        <mat-step><!--  [stepControl]="form" // sau // [completed]=false [editable]="false"-->
            <ng-template matStepLabel>Search Appoinments</ng-template>
            <div class="section-1">
                <form [formGroup]="formMandatory" class="form-stepone">
                    <div class="form-madatory">
                        <div class="column column-1">
                            <div class="form-field">
                                <p-dropdown [style]="{'width':'100%'}" formControlName="speciality" appendTo="body"
                                    [options]="specialityOptions" optionLabel="name" optionValue="id" [filter]="true"
                                    filterBy="name" [showClear]="true" placeholder="Select speciality*"></p-dropdown>
                            </div>
                            <div class="form-field">
                                <p-dropdown [style]="{'width':'100%'}" formControlName="procedure" appendTo="body"
                                    [options]="filteredProcedureOptions" optionLabel="name" optionValue="id"
                                    [filter]="true" filterBy="name" [showClear]="true"
                                    placeholder="Select procedure*"></p-dropdown>
                            </div>
                        </div>
                        <div class="column column-2">
                            <div class="form-field">
                                <p-calendar [style]="{'width':'100%'}" formControlName="startDate" [appendTo]="'body'"
                                    [showIcon]="true" inputId="icon" placeholder="Start Date*"></p-calendar>
                            </div>
                            <div class="form-field">
                                <p-calendar [style]="{'width':'100%'}" formControlName="endDate" [appendTo]="'body'"
                                    [showIcon]="true" inputId="icon" placeholder="End Date*"></p-calendar>
                            </div>
                        </div>
                        <div class="column column-3">
                            <div class="form-field">
                                <p-multiSelect [style]="{'width':'100%'}" formControlName="county" appendTo="body"
                                    [options]="countiesOptions" optionLabel="name" optionValue="name"
                                    placeholder="Select counties*"></p-multiSelect><!-- styleClass="test" -->
                            </div><!-- styleClass -->
                        </div>
                    </div>
                </form>
                <button matStepperNext class="basic-button primary"
                style="height:40px;width: 80px; align-self: flex-end;"
                [disabled]="formMandatory.invalid || loading === true" (click)="getOptionalOptions()">Next</button>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>More Details</ng-template>
            <div class="section-2">
                <form [formGroup]="formOptional" class="form-stepone" *ngIf="loading || hospitalsOptions.length > 0;else notice">
                    <div class="form-optional">
                        <div class="column column-1">
                            <div class="form-field">
                                <p-multiSelect [style]="{'width':'100%'}" formControlName="hospitals" appendTo="body"
                                    [options]="hospitalsOptions" optionLabel="name" optionValue="id"
                                    placeholder="Select hospitals"></p-multiSelect>
                            </div>
                        </div>
                        <div class="column column-2">
                            <div class="form-field">
                                <p-multiSelect [style]="{'width':'100%'}" formControlName="doctors" appendTo="body"
                                    [options]="filteredDoctorsOptions" optionLabel="name" optionValue="id"
                                    placeholder="Select doctors"></p-multiSelect>
                            </div>
                        </div>
                    </div>
                    <p style="color: grey;">* This fields are optional</p>
                </form>
                <ng-template #notice>
                    <div class="notice">
                        <p style="color: grey;">No available procedure in selected area</p>
                    </div>
                </ng-template>
                <div class="buttons">
                    <button class="basic-button primary" style="height:40px;width: 80px;" 
                    [disabled]="loading === true"
                    (click)="resetStep2()"
                    matStepperPrevious >Back</button>
                    <button class="basic-button primary" style="height:40px;width: 80px;"
                    [disabled]="formOptional.invalid || loading === true || !hospitalsOptions.length"
                    (click)="getDoctorsAvailableHours()" matStepperNext >Next</button>
                </div>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Select Available Appointment</ng-template>
            <div class="section-3">
                <div class="suggestions-container">
                    <app-appointment-suggestion [suggestion]="suggestion" (suggestionSelection)="onSuggestionSelection($event)" *ngFor="let suggestion of appointmentSuggestions"></app-appointment-suggestion>
                </div>
                <div class="buttons">
                    <button class="basic-button primary" style="height:40px;width: 80px;"
                    (click)="resetStep3()"
                    matStepperPrevious>Back</button>
                    <button class="basic-button primary" style="height:40px;width: 80px;" 
                    (click)="createAppointmentSummary()"
                    [disabled]="!sugestionSelection || loading === true" 
                    matStepperNext>Next</button>
                </div>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <div class="section-4">
                <app-appointment-last-step [summary]="appointmentSummary"></app-appointment-last-step>
                <div class="buttons">
                    <button [disabled]="loading" class="basic-button primary" style="height:40px;width: 80px;"
                        matStepperPrevious>Back</button>
                    <!-- <button class="basic-button primary"  style="height:40px;width: 80px;" (click)="stepper.reset()">Reset</button> -->
                    <button [disabled]="loading" (click)="saveAppointment()" class="basic-button primary" style="height:40px;width: 80px;">Confirm</button>
                </div>
            </div>
        </mat-step>
    </mat-stepper>
</div>