.container{
    background-color: white;
    border-radius:5px;
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100%;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}