<div class='container'>
    <div class="card-header">
        <p id='card-title'>Appointment</p>
        <img id='img-header' *ngIf="deletionEnabled" (click)="triggerAppointmentDeletion()" src="assets/icons/trash.png" alt="" />
    </div>
    <div class="card-content">
        <div class="doctor">
            <img id="img-doc" src="assets/icons/user.png" alt="" [routerLink]="['/patient/doctors/' + appointment?.doctorId]"/>
            <div class="text">
                <p id="name">{{appointment?.doctorFirstName + " " + appointment?.doctorLastName}}</p>
                <p id="specialisation">{{appointment?.doctorSpeciality}}</p>
            </div>
        </div>
        <div class="date">
            <div class="subtitle">Date</div>
            <p>{{appointment?.dateTime | date: 'MM/dd/yyyy'}}</p>
        </div>
        <div class="time">
            <div class="subtitle">Time</div>
            <p>{{appointment?.dateTime | date: 'HH:mm'}} - {{formatedInterval}}</p>
            <p>{{appointment?.duration}} min</p>
        </div>
        <div class="location">
            <div class="subtitle">Location</div>
            <p>{{appointment?.hospitalName}}</p>
        </div>
        <div class="procedure">
            <div class="subtitle">Procedure</div>
            <p>{{appointment?.procedureName}}</p>
        </div>
    </div>
</div>
