<div class="container">
    <h1 class="title">About me</h1>
    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione recusandae atque at voluptatum deleniti fugit vero nobis magnam commodi est incidunt non nostrum a aliquid, sunt esse libero minus voluptas maxime rerum fuga sit asperiores nisi. 
        Tempore et cumque saepe maxime animi eaque temporibus 
        corporis consectetur debitis amet, iusto porro?Lorem ipsum dolor sit
         amet consectetur adipisicing elit. Nostrum, blanditiis itaque. 
         Quia voluptates nihil tempore suscipit architecto eum excepturi c
         um fuga, minus in. Veniam, harum eaque itaque atque sint delectus
          perspiciatis eligendi dolores illo odio at, quos dolor mollitia
           nostrum voluptatibus? Quis obcaecati, qui aliquid debitis explicabo 
           provident magni optio deleniti. Consequuntur libero, atque sed quos
            vitae dolor soluta ab exercitationem ex nisi modi vero. Earum dignissimos
            architecto, quidem voluptate beatae, quibusdam dolorem vitae eligendi aut distinctio
             quisquam laudantium esse, laborum officia
              quasi quia ullam quis totam ratione eum
               corrupti facere odio iste necessitatibus.
                Excepturi ipsum blanditiis cumque reprehenderit doloremque.</p>
</div>

