.container{
    background-color: white;
    display: flex;
    padding: 30px;
    gap: 30px;
    flex-direction: column;
    border-radius: 5px;

}

.content{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.line{
    display: flex;
    gap: 5px;
}