.container{
    background-color: white;
    display: flex;
    padding: 30px;
    gap: 30px;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: rgba(156, 154, 154, 0.09) 0px 3px 12px;
}

.line{
    display: flex;
    gap: 5px;
}

.description{
    white-space: pre-wrap;
}